* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --vermelho-p: #B24236;
    --verde-p: #0C260B;
    --sans-serif: font-family: 'Montserrat', sans-serif;
    --serif: font-family: 'Merriweather', serif;
}
body {
    margin: 0;
}
.corpo-site {
    padding-top: 80px;
}
section {
    overflow: hidden;
    background-color: #fff3f3;;
}
.center {
    width: 100%;
    max-width: 1180px;
    margin: auto;
}
header {
    background-color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 3px solid var(--vermelho-p);
}
.hr-low-red {
    width: 80px;
    margin: 0;
    border: 2px solid var(--vermelho-p);
    background-color: var(--vermelho-p);
}
.hr-green-low {
    width: 80px;
    margin: 0;
    border: 2px solid var(--verde-p);
    background-color: var(--verde-p);
}
.topo-header {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 0 12px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-header {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 5px;
    margin: 0;
}
.menu-header a:hover {
    text-decoration: none;
}
.menu-header li {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 16px;
    color: var(--verde-p);
    font-family: 'Merriweather', serif;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.1s;
}
.menu-header li:hover {
    border-bottom: 2px solid var(--vermelho-p);
    height: 38px;
    color: var(--vermelho-p);
}
.topo-header  nav {
    display: flex;
    gap: 30px;
}
.social-header {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.social-header a,
.ig-contato {
    width: 40px;
    height: 40px;
    background-color: var(--vermelho-p);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.btn-menu-mobile {
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho-p);
    border-radius: 4px;
    cursor: pointer;
}
.menu-mobile {
    position: absolute;
    height: 100vh;
    background-color: var(--verde-p);
    right: 0px;
    top: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 0px;
    overflow: hidden;
    transition: 0.4s;
}
.menu-mobile nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 12px;
}
.menu-mobile-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menu-mobile-ul li {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f2c0e;
}
.social-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social-mobile a {
    width: 40px;
    height: 40px;
    background-color: var(--vermelho-p);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.start-home {
    margin-top: 20px;
}
.home-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-left,
.home-right {
    width: 50%;
    padding: 12px;
    height: 460px;
}
.home-right {
    display: flex;
    justify-content: flex-end;
}
.home-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.title-home {
    width: 420px;
}
.title-home h1 {
    font-size: 32px !important;
    color: var(--vermelho-p);
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}
.text-home h4 {
    font-size: 20px;
    margin: 0;
    color: #404040;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}
.text-home {
    margin: 25px 0;
    width: 90%;
}
.btn-red {
    margin-top: 25px;
    width: 90%;
    background-color: var(--vermelho-p);
    color: #FFF;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.btn-red:hover {
    color: #FFF;
}
.img-home {
    width: 90%;
    height: 400px;
}
.img-home img {
    width: 95%;
}
.sobre-mim {
    z-index: 5;
    margin-top: 60px;
    position: relative;
    background-color: var(--verde-p);
    padding: 60px 0;
}
.sobre-flex {
    width: 100%;
    display: flex;
    color: #FFF;
}
.sobre-left {
    width: 50%;
}
.sobre-right {
    padding: 0px 0px 0px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.area-img-sobre-mim {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-color: #dadada;
}
.area-bg-sobre-mim {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.img-sobre-mim {
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sobre-right h2 {
    font-size: 32px;
    color: var(--vermelho-p);
    margin: 10px 0;
    font-family: 'Merriweather', sans-serif;
    font-weight: 600;
}
.sobre-right p {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 300;
    color: #cfcfcf;
    line-height: 32px;
    padding-right: 12px;
    font-family: 'Montserrat', sans-serif;
}
.sobre-right p,
.sobre-right h2,
.sobre-right hr,
.sobre-right.btn-red {
    z-index: 3;
}
.areas-atuacao {
    width: 100%;
    padding-top: 80px;
}
.areas-atuacao h2 {
    margin: 0;
}
.atuacao-area {
    width: 100%;
    height: 200px;
    border-top: 1px solid #FFF;
}
.atuacao {
    padding: 0 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.atuacao h2 {
    color: #000;
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 600;
}
.atuacao p {
    margin: 0;
    color: #000;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.lista-atuacao {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0 12px;
}
.atuacao-item {
    width: 100%;
    max-width: 360px;
    padding: 12px;
    /* border: 2px solid var(--vermelho-p); */
    box-shadow: 1px 1px 5px 5px #00000005;
    border-radius: 4px;
    background-color: #FFF;
    border-bottom: 3px solid var(--vermelho-p);
    text-decoration: none;
    color: #000;
}
.atuacao-item:hover {
    color: #000;
    text-decoration: none;
}
.atuacao-item h4 {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    margin-bottom: 10px;
}
.atuacao-item p {
    font-size: 16px;
    line-height: 23px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.link-transtornos {
    padding: 12px;
    border: 1px solid var(--verde-p);
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.link-transtornos a {
    transition: 0.3s;
    font-weight: 600;
    color: var(--verde-p);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.link-transtornos:hover {
    background-color: var(--verde-p);
}
.link-transtornos:hover a {
    color: #FFF !important;
    text-decoration: none;
}
.faq {
    margin-top: 80px;
    width: 100%;
    background-color: var(--vermelho-p);
    padding: 40px 0 60px 0;
}
.area-faq {
    padding: 0 12px;
}
.area-faq-topo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.area-faq-topo h2 {
    font-weight: 600;
    color: #FFF;
    font-family: 'Merriweather', sans-serif;
    margin: 0;
}
.area-faq-topo hr {
    border: 1px solid #FFF;
    width: 30%;
    margin-left: 0;
    margin-bottom: 20px;
}
.card {
    border: 0 !important;
    margin-bottom: 10px !important;
}
.card-header {
    background-color: #8d3127 !important;
    border: #8d3127 !important;
    outline: 0 !important;
}
.btn-link {
    color: #FFF !important;
    font-weight: 600 !important;
}
.area-contato {
    padding: 60px 12px;
}
.contato-topo {
    width: 100%;
}
.contato-topo h2,
.avaliacoes-topo h2 {
    font-weight: 600;
    font-family: 'Merriweather', sans-serif;
}
.contato-topo p,
.avaliacoes-topo p {
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.contato-flex {
    width: 100%;
    display: flex;
    min-height: 400px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px 5px #00000008;
    margin-top: 25px;
    border-radius: 8px;
    overflow: hidden;
}
.contato-left {
    width: 50%;
    background-color: var(--vermelho-p);
}
.form-contato {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 24px;
}
.input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-form label {
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.contato-right {
    width: 50%;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
}
.clinica-item {
    width: 100%;
    padding: 12px 0;
    margin-bottom: 20px;
}
.input-field {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 4px;
    padding-left: 12px;
    outline: 0;
    background-color: #FFF;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
textarea {
    min-height: 120px;
    padding: 12px 0;
}
.input-submit {
    height: 45px;
    border: 0;
    background-color: #8d3127;
    color: #FFF;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}
.input-submit:hover {
    background-color: #802c23;
}
.clinica-item h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--verde-p);
    font-weight: 600;
    font-size: 20px;
}
.clinica-option {
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.option-txt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.crm-contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.crm-contato a {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    margin: 20px 0;
    color: #303030;
    text-decoration: none;
}
.crm-contato a:hover {
    color: var(--vermelho-p);
}
.area-galeria {
    width: 100%;
    min-height: 600px;
    margin-bottom: 60px;
    padding: 0 12px;
}
.galeria-topo {
    padding: 0 12px;
    margin-bottom: 25px;
}
.galeria-topo h2 {
    font-weight: 600;
    font-family: 'Merriweather', serif;
}
.galeria-topo p {
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.swiper-button-next, .swiper-button-prev {
    color: var(--vermelho-p) !important;
}
.swiper-pagination-bullet-active {
    background: var(--vermelho-p) !important;
}
.img-slide {
    width: 100%;
}
.swiper {
    width: 100%;
    height: 600px;
    box-shadow: 1px 1px 5px 5px #00000008 !important; 
    border-radius: 8px;
    overflow: hidden;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-slide {
    width: 100%;
    height: 100%;
    position: relative;
}
.img-slide img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.avaliacoes-topo {
    width: 100%;
    padding: 0 12px;
}
.avalicoes-google {
    width: 100%;
    padding: 0 12px;
    gap: 12px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.avaliacao-item {
    width: 100%;
    max-width: 375px;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 12px;
}
.avaliacao-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;
}
.avaliacao-topo-img-nome {
    display: flex;
    align-items: center;
    gap: 12px;
}
.avaliacoes-topo-nome {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.avaliacao-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.link-google-avaliacoes {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    margin-bottom: 40px;
}
.link-google-avaliacoes a {
    color: var(--verde-p);
    font-weight: 600;
}
.link-google-avaliacoes a:hover {
    color: var(--vermelho-p);
}

.topo-pagina {
    width: 100%;
    padding: 0 12px;
    margin: 40px 0;
}
.topo-pagina h1 {
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}
.conteudo-pagina {
    padding: 24px;
    width: 100%;
    background-color: #FFF;
    margin-bottom: 30px;
}
.conteudo-pagina h1, h2, h3, h4 {
    font-family: 'Merriweather', serif !important;
    font-size: 24px !important;
    font-weight: 600;
}
footer {
    width: 100%;
    background-color: #0E280D;
    height: 300px;
}
.footer-content {
    padding: 36px 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-right h4 {
    color: #FFF;
    font-family: 'Merriweather', sans-serif;
    margin-top: 0;
}
.social-footer {
    margin-top: 25px;
    display: flex;
    gap: 25px;
}
.social-footer a {
    width: 40px;
    height: 40px;
    background-color: var(--vermelho-p);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.wpp-flutuante {
    position: fixed;
    bottom: 100px;
    right: 120px;
    opacity: 0;
    z-index: 10;
    transition: .5s;
}
.wpp-flutuante:hover {
    transform: scale(1.1);
}
.rodape {
    padding: 24px 12px;
    width: 100%;
    background-color: #102e0f;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
.rodape a {
    color: var(--vermelho-p);
    font-weight: 600;
}

@media (max-width: 1400px) {
    .wpp-flutuante {
        right: 20px;
    }
}
@media (max-width: 1180px) {
    .btn-menu-mobile {
        display: flex;
    }
    .menu-header,
    .social-header {
        display: none;
    }
    .avalicoes-google {
        justify-content: center;
    }
    .avaliacao-item {
        max-width: 475px;
    }
}
@media (max-width: 1020px) {
    .home-flex {
        flex-direction: column;
    }
    .home-left{
        width: 100%;
        z-index: 2;
        justify-content: space-around;
        height: 500px;
        padding: 50px 12px;
    }
    .home-right {
        position: absolute;
        opacity: 0.35;
        width: 100%;
        z-index: 1;
    }
    .home-left .btn-red {
        width: 100%;
    }
    .text-home h4 {
        font-weight: 600;
        color: #000;
    }
    .sobre-mim {
        margin-top: 0;
    }
}
@media (max-width: 940px) {
    .area-bg-sobre-mim,
    .sobre-left {
        display: none;
    }
    .area-img-sobre-mim {
        width: 100%;
        opacity: 0.25;
    }
    .sobre-right {
        width: 100%;
        padding: 0 24px;
    }
    .btn-red {
        width: 100%;
    }
    .sobre-right p {
        font-weight: 600;
    }
}
@media (max-width: 820px) {
    .text-home {
        width: 100%;
    }
    .lista-atuacao {
        flex-wrap: wrap;
        margin-top: 15px;
    }
    .atuacao-item {
        max-width: 100%;
    }
    .atuacao-item h4 {
        font-size: 20px;
    }
    .btn-link {
        white-space: normal !important;
    }
    .contato-flex {
        flex-direction: column-reverse;
    }
    .footer-content {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        padding: 36px 0 24px 0;
    }
    .social-footer {
        justify-content: center;
    }
    .area-contato {
        padding-bottom: 20px;
    }
    .contato-left,
    .contato-right {
        width: 100%;
    }
    .contato-right {
        padding: 36px 24px;
    }
    footer {
        height: auto;
    }
    .area-galeria,
    .swiper {
        max-height: 400px;
    }
}
@media (max-width:500px) {
    .title-home {
        width: 100%;
    }
}